<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- Bar Button Start-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#raiweb-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Bar Button End-->
      <!-- Logo Start-->
      <logo size="md"></logo>
      <!-- Logo End-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="raiweb-navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{'dropdown': navL1.navs}" ng-repeat="navL1 in navs | filter: visible=true" >
          <a ui-sref="{{navL1.id}}" data-toggle="{{navL1.navs?'dropdown':''}}">
          <span  ng-bind="navL1.name"></span>
          <span class="caret" ng-if="navL1.navs"></span>
          </a>
          <ul class="dropdown-menu" ng-show="navL1.navs">
            <li ng-repeat="navL2 in navL1.navs | filter: visible=true">
              <a ui-sref="{{navL2.id}}" ng-bind="navL2.name"></a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>